.album {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  padding:0;
  margin:0;
}

.album > li {
  aspect-ratio: 1/1;
  list-style: none;
  cursor: pointer;
  overflow: hidden;
}

.album > li > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: 0.2s;
}
.album > li > img:hover {
  transform: scale(1.2);
  filter: brightness(0.6);
}

.album > li.end-of-album {
  height:300px;
}