.follower-list > * {
  margin:auto 0;
}

.avatar-list > *{
  margin:auto 0;
}
.avatar-list > :nth-child(1) {
  z-index:10;
}
.avatar-list > :nth-child(2) {
  transform: translate(-50%);
  z-index:9;
}
.avatar-list > :nth-child(3) {
  transform: translate(-100%);
  z-index:8;
}